{%extends 'shop/basic.html'%}
{%block body%}
<style>
  
.form-check-input {
    border: 2px solid #6c757d; 
    width: 17px;
    height: 17px;
}
.form-check-input:checked {
    background-color: #198754 !important; /* Bootstrap success color */
    border-color: #198754 !important;
}

</style>
<div class="container py-4">
    <div class="col my-3">
        <h3 class="mb-3">Step - 1 My Awesome Cart Express Checkout - Review Your Cart Details</h3>
        <ol class="list-group list-group-numbered shadow-sm p-3 rounded">
            <li class="list-group-item d-flex justify-content-between align-items-start border rounded">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Content for list item
              </div>
              <span class="badge text-bg-success rounded-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start border rounded">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Content for list item
              </div>
              <span class="badge text-bg-success rounded-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start border rounded">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Content for list item
              </div>
              <span class="badge text-bg-success rounded-pill">14</span>
            </li>
        </ol>
    </div>
    
    <div class="col my-3">
       <h3 class="mb-3">Step 2 - Enter Address & Other Details</h3>
       <form class="p-4 border rounded shadow-sm bg-light" method="post" action="/shop/checkout/">{% csrf_token %} 
        <div class="row g-3">
          <div class="col-md-4">
            <label for="name" class="form-label fw-bold">Name</label>
            <input type="text" class="form-control border-dark" id="names" name="order_name" required>
          </div>
          <div class="col-md-4">
            <label for="email" class="form-label fw-bold">Email</label>
            <input type="text" class="form-control border-dark" name="order_email"" id="email" required>
          </div>
          <div class="col-md-4">
            <label for="phone" class="form-label fw-bold">Phone No</label>
              <input type="tel" class="form-control border-dark" name="order_phone" id="phone" required>
          </div>
        </div>

        <div class="row g-3 mt-3">
          <div class="col-md-4">
            <label for="city" class="form-label fw-bold">City</label>
            <input type="text" class="form-control border-dark" name="order_city" id="city" required>
          </div>
          <div class="col-md-4">
            <label for="state" class="form-label fw-bold">State</label>
            <select class="form-select border-dark" name="order_state" id="state" required>
              <option selected disabled value="">Choose...</option>
              <option>Andhra Pradesh</option>
              <option>Arunachal Pradesh</option>
              <option>Assam</option>
              <option>Bihar</option>
              <option>Chhattisgarh</option>
              <option>Goa</option>
              <option>Gujarat</option>
              <option>Haryana</option>
              <option>Himachal Pradesh</option>
              <option>Jharkhand</option>
              <option>Karnataka</option>
              <option>Kerala</option>
              <option>Madhya Pradesh</option>
              <option>Maharashtra</option>
              <option>Manipur</option>
              <option>Meghalaya</option>
              <option>Mizoram</option>
              <option>Nagaland</option>
              <option>Odisha</option>
              <option>Punjab</option>
              <option>Rajasthan</option>
              <option>Sikkim</option>
              <option>Tamil Nadu</option>
              <option>Telangana</option>
              <option>Tripura</option>
              <option>Uttar Pradesh</option>
              <option>Uttarakhand</option>
              <option>West Bengal</option>
              <option>Andaman and Nicobar Islands</option>
              <option>Chandigarh</option>
              <option>Dadra and Nagar Haveli and Daman and Diu</option>
              <option>Delhi</option>
              <option>Lakshadweep</option>
              <option>Puducherry</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="zip" class="form-label fw-bold">Zip</label>
            <input type="text" class="form-control border-dark" name="order_zip" id="zip" required>
          </div>
        </div>
      
        <div class="form-check mt-3">
          <input class="form-check-input border-dark" type="checkbox" id="termsCheck" required>
          <label class="form-check-label fw-bold" for="termsCheck">
            Agree to terms and conditions
          </label>
        </div>
        
        <div class="mt-4 text-center">
          <button class="btn btn-success w-50 py-2 fw-bold" type="submit">Place Order</button>
        </div>
      </form>
    </div>
</div>
{%endblock%}
